<style>
.sidebar .author__avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.sidebar .author__avatar img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  display: block;
}
</style>

<!-- Open Graph / Twitter -->
<meta property="og:title" content="Priyaranjan Pattnayak" />
<meta property="og:description" content="AI/ML researcher at Oracle Cloud | Generative AI, NLP, Safety" />
<meta property="og:image" content="https://priyanpattnayak.com/assets/PriyanHeadshotsq.jpeg">
<meta name="twitter:image" content="https://priyanpattnayak.com/assets/PriyanHeadshotsq.jpeg">
<meta property="og:url" content="https://priyanpattnayak.com" />
<meta name="twitter:card" content="summary_large_image" />


<!-- Custom schema.org metadata -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Priyaranjan Pattnayak",
  "jobTitle": "Senior Principal Data Scientist",
  "worksFor": {
    "@type": "Organization",
    "name": "Oracle"
  },
  "affiliation": [
    {
      "@type": "Organization",
      "name": "Oracle Cloud AI"
    }
  ],
  "alumniOf": {
  "@type": "CollegeOrUniversity",
  "name": "University of Washington"
  },
  "description": "AI/ML researcher specializing in NLP, Generative AI, and AI Robustness at enterprise scale",
  "url": "https://priyanpattnayak.com",
  "image": "https://priyanpattnayak.com/assets/PriyanHeadshot.jpeg",
  "sameAs": [
    "https://scholar.google.com/citations?user=gXWbDuUAAAAJ",
    "https://www.linkedin.com/in/priyaranjanpattnayak",
    "https://github.com/ppattnayak",
    "https://blogs.oracle.com/authors/priyan-pattnayak",
   "https://priyanpattnayak.com/"
  ]
}
</script>
